.table {
    width: auto;
}

td {
    white-space: normal !important;
    word-wrap: break-word;
    min-width: 100px;
    max-width: 300px;
}

.cardstyle{
    max-width: 18rem;
  }

.head-style{
    margin-top: 50px;
    max-width: 35rem;
}

.panel-body {
    max-width: 35rem;
    padding: 25px 25px 30px 25px;
    background: #eee;
    text-align: left;
}